* {
    margin: 10px;
}

header {
    color: blueviolet;
}

a {
    font-size: 24px;
}


.red {
    color: rgba(255, 0, 0, 0.3);
}

.green {
    color: green;
}

.blue {
    color: blue;
}



.test-box {
    box-sizing: content-box;
    width: 500px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border: 20px solid #212121;
    background-color: black;
}

.red,
.green,
.blue {
    font-size: 23px;
    text-decoration: underline;
}

.url {
    background-color: brown;
}

.list {
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
}

.section1 {
    color: blanchedalmond;
}

.down-color {
    background-color: rgb(14, 119, 238);
    color: black;
}


.footcolor {
    background-color: teal;
    color: tomato;
}

#hrefcolor {
    color: rgb(221, 16, 16);
}

.test-inline2 {
    background-color: teal;
}

.dispaytest li {
    display: inline-block; 
}

.test-inline a:hover {
    color: crimson;
}

body {
    background-image: url(https://images.pexels.com/photos/7708330/pexels-photo-7708330.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
}